
.main-header{
    background: rgb(230, 200, 102);
    margin-bottom: 100px;
    padding: 0;
   
}
.header{
    text-align: center;
    padding: 50px;
    text-size-adjust: 100px;
}
.mixitup{
    text-align: center;
    
    
}
.container h3{
    text-align: center;
    
}
.button-area{
    text-align: center;
    margin: 50px;
    
}
body{
    font-size: 25px;
}


